<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/style.css" />
    <title>input form for Hero</title>
</head>
<body>
<h1>Hero</h1>
<form action="/create-hero" method="post">

    <label>Name</label><br/>
    <input type="text" id="name" name="hero"><br/><br/>
    <label>age</label><br/>
    <input type="number" id="age" name="age"><br/><br/>
    <label> Select Squad</label><br/>
    <select name="squadId">
        {{#each options}}
            <option value="{{this.id}}">{{this.text}}</option>
        {{/each}}
    </select>

    <div class="fcf-form-group">
        <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Submit</button>
    </div>

</form>
</body>
</html>